@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;       
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;   
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}

.google-btn {
  @apply shadow-[0px_2px_0px_0px_white] text-white bg-[#4285F4] hover:bg-[#4285F4]/90 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 transform focus:scale-95
}
nav {
  @apply w-full flex flex-wrap
}

nav a {
    @apply pr-2;
  }

  .dash-heading {
    @apply pb-5 font-semibold
  }

  .dash-stats-container {
    @apply flex place-content-between mb-5 p-4 rounded-md shadow-md
  }

  .dash-stats-item {
    @apply flex flex-col items-center justify-center
  }